@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Consumir API com HttpClientFactory</h1>
    @*<img src="./../wwwroot/img/bebidas.jpg"/>*@
    <img src="img/consomeapi1.jpg" width="600" height="auto" asp-append-version="true"/>
</div>
