@model CategoriasMVC.Models.CategoriaVM
@{
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    string action = Convert.ToString(ViewBag.Action);
}

<div class="form-horizontal">
    <hr />
    @if (action != "Create")
    {
        @*<div asp-validation-summary="ModelOnly" class="text-danger">qweqwe</div>*@
        <div class="col-md-2">
        <input asp-for="CategoriaId" type="hidden" />
            <input asp-for="CategoriaId" class="form-control" readOnly>
        </div>

    }
    <div class="form-group">
        <label asp-for="Nome" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control"})
            @*<input asp-for="Nome" class="form-control" />*@
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ImagemUrl" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ImagemUrl" class="form-control" />
            <span asp-validation-for="ImagemUrl" class="text-danger"></span>
        </div>
    </div>
</div>
